.content {
    margin:15px;
    box-shadow: 1px 1px 3px;
}
.content-title {
    padding: 3px;
    color: white;
    background-color: navy;
    font-weight: bold;
}

.content-body {
    display: inline-block;
}

.setting {
    margin: 15px;
    display: block;
}

.setting-title {
    padding:2px;
    font-weight: bold;
    border-bottom: solid 2px blue;
}

.setting-body {
    margin:10px;
}

.assign {
    margin: 15px;
    display: block;
}
